html {
  font-size: 62.5%;
}

body {
  font-size: 4rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.container input {
  font-size: 4rem;
  width: 50%;
}
.container__answer {
  color: blue;
}
.container__nbTry {
  color: green;
  font-weight: bold;
}
.container__btn {
  font-size: 4rem;
  margin-left: 1rem;
  padding: 0.6rem;
}
.container__btn:first-of-type {
  border: 0.1rem solid green;
  border-radius: 0.5rem;
  background-color: #82f985;
  color: green;
  font-weight: bold;
}
.container__btn:last-of-type {
  border: 0.1rem solid #ae0f0f;
  border-radius: 0.5rem;
  background-color: #ff7e67;
  color: #ae0f0f;
  font-weight: bold;
}